<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registration Problem</title>
</head>
<body style="background-color: #EDF2F5">
<center style="margin-top: 150px; ">
<h1 style="color: red; font-size: 40px; margin-bottom: 150px;">Either Passsword and Repassword are not the same or email has been used before.</h1>

<a href="/sign-up" style="text-decoration: none; font-size: 25px; background-color: #3855E1; color: white; padding: 5px 5px 5px 5px; border-radius: 10px; box-shadow: 5px 5px 5px black" >Go Back Registration Page</a>
</center>
</body>
</html>