<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="/css/main.css">
	<title>Tasks dashboard</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"/>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>



	<script>

		function callIt(myId) {
			document.getElementById(myId).innerHTML = "complete";
		}

		function chosen_div(task_id) {
			document.getElementById("sent_id").value = task_id;

		}


	</script>

</head>

<body>
<header class="main-header">
	<a href="/tasks-dashboard" class="main-header-logo"><img src="/img/iba-tech-logo-white.svg" alt="IBA Tech Academy"></a>
	<div class="main-header-wrapper">
		<label class="main-header-search-wrapper">
			<input type="search" class="main-header-search" placeholder="Search">
			<img src="/img/search-icon.svg" alt="Search Icon">
		</label>
		<div class="main-header-profile-wrapper">
			<div class="main-header-profile-credentials">
				<span class="main-header-profile-welcome">Welcome,</span>
				<span class="main-header-username" th:text="${username}" ></span>
			</div>
			<img class="main-header-user-icon" th:src="${profile}" width="64.17" style="border-radius: 30px;" height="70" alt="User Icon">
			<div class="hidden-accordion-wrapper">
				<ul class="hidden-accordion">
					<li class="hidden-accordion-item"><a href="/tasks-archive" class="hidden-accordion-item-link"><img class="hidden-accordion-item-image" src="/img/archive-icon.svg" alt="User Icon">Archive</a></li>
					<li class="hidden-accordion-item"><a href="/tasks-dashboard" class="hidden-accordion-item-link"><img class="hidden-accordion-item-image" src="/img/favourite-icon.svg" alt="Favourite Icon">My tasks</a></li>
					<li class="hidden-accordion-item"><a href="/login" class="hidden-accordion-item-link"><img class="hidden-accordion-item-image" src="/img/log-out-icon.svg" alt="Log Out Icon">Log Out</a></li>
				</ul>
			</div>
		</div>
	</div>
</header>

    <section class="tasks">
    <div class="container">
        <div class="tasks-caption">
            <h2 class="tasks-caption-title">Dashboard</h2>
            <div class="tasks-caption-actions">
                <form class="tasks-filter" id="sort-tasks" action="/tasks-dashboard" method="post">
					<a href="/add-group" style="text-decoration: none; color: white; background-color: blue; padding: 10px 10px 10px 10px; border-radius: 10px;">Group</a>
					<label for="task-type" class="tasks-filter-label">Sort by</label>
					<select class="tasks-filter-list" name="task-type" id="">
<!--						<option class="tasks-filter-item" value="deleted">Deleted</option>-->
						<option class="tasks-filter-item" value="available">Sort tasks</option>
						<option class="tasks-filter-item" value="overdue">Overdue</option>
						<option class="tasks-filter-item" value="today">Today</option>
						<option class="tasks-filter-item" value="important">Important</option>
						<option class="tasks-filter-item" value="done">Done</option>
					</select>
				<input type="submit" value="search" style="border-radius: 30px; background-color: #3855E1; color: white; border: none" width="70px" height="55px" >
                </form>

                <a href="/create-task" class="btn btn-primary btn-add-task">Add task</a>
            </div>
        </div>

		<div  th:if="${not #lists.isEmpty(tasks)}">

            <nav aria-label="Pagination" th:if="${tasks.totalPages gt 0}">
                <ul class="pagination justify-content-center font-weight-medium">
                    <li class="page-item" th:classappend="${tasks.number eq 0} ? 'disabled'">
                        <a class="page-link svg-icon"
                           th:href="@{/tasks-dashboard?page={id}(id=${tasks.number lt 1 ? 0 : tasks.number-1})}"
                           aria-label="Previous"
                           title="Previous Page" rel="tooltip">
                            <span aria-hidden="true" data-feather="chevrons-left" width="20" height="20">&laquo;</span>
                        </a>
                    </li>
                    <li class="page-item" th:classappend="${i eq tasks.number + 1} ? 'active'"
                        th:each=" i : ${#numbers.sequence(tasks.totalPages >= 10 + tasks.number ? tasks.number + 1 : 1, tasks.totalPages > 10 + tasks.number ? tasks.number + 10 : tasks.totalPages, 1)}">
                        <a class="page-link" th:href="@{/tasks-dashboard?page={id}(id=${i}-1)}" th:text="${i}"
                           th:title="${'Page '+ (i)}"
                           rel="tooltip"></a>
                    </li>
                    <li class="page-item disabled" th:if="${tasks.number + 10 < tasks.totalPages}">
                        <a class="page-link svg-icon" href="#">
                            <span data-feather="more-horizontal" width="20" height="20">...</span>
                        </a>
                    </li>
                    <li class="page-item" th:classappend="${tasks.number + 10 >= tasks.totalPages} ? 'disabled'">
                        <a class="page-link svg-icon" th:href="@{/tasks-dashboard?page={id}(id=${tasks.number + 2})}"
                           aria-label="Next"
                           title="Next Page" rel="tooltip">
                            <span aria-hidden="true" data-feather="chevrons-right" width="20" height="20">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>


        </div>

        <div class="tasks-list" th:if="${not #lists.isEmpty(tasks)}">
			<div class="task" th:each="task : ${tasks}" th:onclick="|chosen_div('${task.getId()}')|">
				<h4 class="task-title" id="title" th:text="${task.getTitle()}"></h4>
				<p class="task-start-time" th:text="${task.getCurr()}"></p>
				<p class="task-deadline">Deadline to: <span class="task-deadline-date" th:text="${task.getDeadline()}"></span></p>
				<p class="task-description" id="desc" th:text="${task.getContent()}"></p>
				<div class="task-icons">
					<a th:href="@{'/add/'+ ${task.getId()}}"><img class="task-icons-item" src="/img/bell.png" alt="bell"></a>
					<a th:href="@{'/delete/'+ ${task.getId()}}"><img class="task-icons-item" src="/img/trash-bin.png" alt="bell"></a>
				</div>
				<p th:id="${task.getId()}"  th:onclick="|callIt('${task.getId()}')|" style="cursor: pointer" class="task-btn" th:text="${task.getComplement_status() ? 'complete' : 'incomplete'}"></p>
			</div>
        </div>


	<form action="/edit" method="post">
   		<div class="task-card-section" th:each="tsk : ${shown}" id="desc">
   			<h3 class="task-card-title" th:text="${tsk.getTitle()}"></h3>
   			<div class="task-card">
   				<div class="task-card-left-col">
   					<div class="task-card-img _1">
						<img th:src="${tsk.getImage() != null} ? '/show/' + ${tsk.getId()} : '/img/noimage.png'"
							 width="364" height="246">

					</div>

   					<div class="task-card-form">
						<div class="task-card-form-row">
							<label for="task-card-date" class="task-card-label">Deadline to:</label>
							<input name="task-card-date" type="date" th:text="${tsk.getDeadline()}" class="task-card-input">
							<input type="text" name="unvisible_id" style="display: none" th:value="${tsk.getId()}">
						</div>
						<div class="task-card-form-row">
							<label for="name-task" class="task-card-label">Name Task</label>
							<input name="name-task" type="text" th:placeholder="${tsk.getTitle()}" class="task-card-input">
						</div>
   					</div>
<!--   					<div class="task-card-actions">-->
<!--   						<a href="#" class="task-card-actions-item">-->
<!--   							<img src="/img/arrow.png" alt="" class="task-card-actions-icon">-->
<!--   							Share-->
<!--   						</a>-->
<!--   						<a th:href="@{'/add/'+ ${tsk.getId()}}" class="task-card-actions-item">-->
<!--   							<img src="/img/bell.png" alt="" class="task-card-actions-icon">-->
<!--   							Add to important-->
<!--   						</a>-->
<!--   						<a th:href="@{'/delete/'+ ${tsk.getId()}}" class="task-card-actions-item">-->
<!--   							<img src="/img/trash-bin.png" alt="" class="task-card-actions-icon">-->
<!--   							Delete-->
<!--   						</a>-->
<!--   					</div>-->
   				</div>
   				<div class="task-card-right-col">
   					<h4 class="task-card-header">Task Description</h4>
   					<p class="task-card-text" th:text="${tsk.getContent()}">
   					</p>
  					<input type="submit" class="btn btn-dark btn-task-card" value="Save">
   				</div>
   			</div>
   		</div>






</form>


</div>
   
    </div>
</section>
</body>
</html>